@import "tailwindcss";

@theme{
    --color-theme: #161c34;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-orange: #d85a27;
    --color-gold: #dd9c1e;

    --color-lightTheme: #323e70;
    --color-softTheme: #dee8ff;
    
}

